aiohttp==3.8.1
aiohttp-devtools==1.0.post0
aiohttp-jinja2==1.5
aiosignal==1.2.0
anyio==3.4.0
asgiref==3.5.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.12
click==8.1.2
devtools==0.8.0
executing==0.8.2
frozenlist==1.3.0
h11==0.13.0
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
multidict==6.0.2
Pygments==2.11.2
six==1.16.0
sniffio==1.2.0
uvicorn==0.17.6
watchgod==0.8.2
yarl==1.7.2
